.menu_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;
}
  
.menu_wrapper ul li {
    display: block;
    position: relative;
    float: left;
    background: #1bc2a2;
  }
  li ul { display: none; }
  
  .menu_wrapper  ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  
  .menu_wrapper  ul li a:hover { background: #2c3e50; }
  
  .menu_wrapper  li:hover > ul {
    display: block;
    position: absolute;
  }
  
  .menu_wrapper  li:hover li { float: none; }
  
  .menu_wrapper  li:hover a { background: #1bc2a2; }
  
  .menu_wrapper  li:hover li a:hover { background: #2c3e50; }
  
  .menu_wrapper  .main-navigation li ul li { border-top: 0; }
  
  .menu_wrapper  ul ul ul {
    left: 100%;
    top: 0;
  }
  
  .menu_wrapper  ul:before,
  .menu_wrapper  ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  .menu_wrapper  ul:after { clear: both; }